<nav th:if="*{isVisible(#httpServletRequest)}" th:id="*{id}" th:class="*{className}" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" th:each="location,it:*{locations}" th:classappend="${it.last}?active" th:attrappend="aria-current=${it.last}?page">
      <a th:if="${location.hasLink()}" th:href="${location.getHref(#httpServletRequest)}" th:text="${location.text}"></a>
      <th:block th:if="${!location.hasLink()}" th:text="${location.text}"></th:block>
    </li>
  </ol>
</nav>