<div th:if="*{isVisible(#httpServletRequest)}" th:id="*{id}" th:class="*{className}?:dropdown">
  <button th:class="*{toggle.className}?:'btn btn-secondary dropdown-toggle'" th:id="*{toggle.id}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[[#{*{toggle.text}}]]</button>
  <div class="dropdown-menu" th:attrappend="aria-labelledby=*{toggle.id}">
    <th:block th:each="item:*{items}">
        <a th:if="${item.name=='Link'}" class="dropdown-item" th:href="${item.getHref(#httpServletRequest)}" th:classappend="${item.isActive(#httpServletRequest)}?active:(${item.isDisabled(#httpServletRequest)}?disabled)">[[#{${item.text}}]]</a>
        <h6 th:if="${item.name=='Header'}" class="dropdown-header">[[#{${item.text}}]]</h6>
        <div th:if="${item.name=='Divider'}" class="dropdown-divider"></div>
    </th:block>
  </div>
</div>