<ul th:if="*{isVisible(#httpServletRequest)}" th:id="*{id}" th:class="*{className}?*{className}:nav" xmlns:th="http://www.thymeleaf.org">
    <th:block th:each="item:*{items}">
        <li th:if="${item.name=='Link'}" class="nav-item" >
            <a class="nav-link" th:classappend="${item.isActive(#httpServletRequest)}?'active':(${item.isDisabled(#httpServletRequest)}?'disabled':'')" th:href="${item.getHref(#httpServletRequest)}" th:text="#{${item.text}}">Item</a>
        </li>
        
        <li th:if="${item.name=='DropdownItem'}" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" th:text="${item.text}">Dropdown</a>
            <div class="dropdown-menu">
                <th:block th:each="it:${item.items}">
                  <a th:if="${it.name=='Link'}" class="dropdown-item" th:href="${item.getHref(#httpServletRequest)}" th:text="#{${it.text}}">Action</a>
                  <div th:if="${it.name=='Divider'}" class="dropdown-divider"></div>
                </th:block>
            </div>
      </li>
    </th:block>
</ul>
