<div th:if="*{isVisible(#httpServletRequest)}" ui:copy-tag-attributes="*" class="card">
    <div th:if="*{header}" class="card-header" th:utext="*{header}"></div>
    <img th:if="*{image}" class="card-img-top" th:src="*{image.src}" th:alt="*{image.alt}" th:title="*{image.title}">
    <div class="card-body">
        <h5 th:if="*{title}" class="card-title">[[*{title}]]</h5>
        <h6 th:if="*{subtitle}" class="card-subtitle mb-2 text-muted">[[*{subtitle}]]</h6>
        <p th:if="*{text}" class="card-text">[[*{text}]]</p>
        <a th:each="link:*{links}" th:if="${link.isVisible(#httpServletRequest)}" th:href="${link.getHref(#httpServletRequest)}" class="card-link">[[${link.text}]]</a>
    </div>
    <div th:if="*{footer}" class="card-footer text-muted" th:utext="*{footer}"></div>
</div>